

.logo{
margin: 0;
width: 20px;
height: 20px;
}

.logo:hover
{
  background-color: blueviolet;
}

.photo{
position: relative;
 width: 210px;
 height: 210px;
}

.photo:hover {
  filter: none;
  z-index: 3;
  filter: grayscale(100);
  transition: filter .5s ease-in-out; 
}
 
img {
    margin: 0;
    position: relative;
    /* filter: grayscale(100);
    transition: filter .5s ease-in-out; */

}

  .footer-container {
    text-align: center;
    font-size: 14px;
    color:white;
    background-color: black; 
    text-decoration: none;
    overflow: hidden;
}

.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%; 
}