nav {
    display: inline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.bar{
    overflow: hidden;
    background-color: black;
  }

.button{

  }
  

.box{
    text-align: center;
    margin: 20px;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

  .navbar{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 9px 8px;
    text-decoration: none;
    max-width: none;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    font-size: 16px;
    border-bottom: 1px 
  }
  
  .navbarcolor{
    float: left;
    max-width: none;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navbarcolor:hover{
    color: blueviolet;
  }
  
  .backgroundcolor:hover{
    background-color: blueviolet;
  }
  
  .backgroundcolor{
    float: left;
    text-align: center;
    padding: 8px 6px;
    text-decoration: none;
    object-fit: cover;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .backgroundcolor > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
  }

   .fancy{
    background-image: url(/images/option.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
   }
   
   h1{
       font-size: 4em;
       
   }

   h1:hover{
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
   }

   h2{
    font-size: 3em;
   }

   h3{
       color: white;
   }
   