nav {
    display: inline;
    /* font-family: 'Courier New', Courier, monospace */
}

   .cats{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/background.png);
   }
   
   h1{
       font-size: 4em;
   }

   h1:hover{
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
   }

   h2{
    font-size: 3em;
   }

   h3{
       color: white;
   }
   